
  .title{
    font-size: 30px;
    margin: 30px 0;
    color:  var(--clr-light);
    text-align: center;
  }
  
  .faq-div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px;

    
  }
  
  .faq-top-sec{
    padding: 10px;
    background-color: var(--clr-red);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: #00224D;
  
  }
  
  .faq-body-sec{
    background-color: var(--clr-light);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    color: #00224D;
  
  }