.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
  }
  
  .header__menu {
    display: none;
  }
  
  .header__bars {
    color: var(--clr-dark);
    background-color: transparent;
    border: none;
    width: var(--size-4xl);
    height: var(--size-3xl);
    display: block;
  }

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.landing_text_main h1{
    font-weight: bold;
    font-size: var(--size-7xl);
}

.landing_text_main h5{
    font-size: var(--size-xl);
}

.landing_text_main p{
    margin-top: 10px;
}

.landing img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media (min-width: 475px) {
    
    .landing_text_main h1 {
        font-size: var(--size-8xl);
    }
    
    .landing_text_main h5{
        font-size: var(--size-lg);
    }
    
    
    
}